:root {
    --primary-colour: #293B5F;
    --secondary-colour: #47597E;
    --tertiary-colour: #DBE6FD;
    --accent-colour: #B2AB8C;
    --normal-font: 400;
    --medium-font: 500;
    --semi-bold-font: 600;
    --bold-font: 700;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        width: 100%;
        height: 50px;
        display: flex;
        padding: 1px 30px;
        align-items: center;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo {
        height: 48px;
        width: 48px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 50px;
        padding: 30px;
        gap: 15px;
        flex-direction: column;
        background-color: var(--primary-colour);
        transition: 0.3s;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item hr {
        width: 100px;
        height: 1px;
        border: none;
        background-color: var(--tertiary-colour);
        transform: translateY(0) rotate(0deg);
    }

    .main-heading {
        height: 96px;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }

    .section-heading {
        height: 12px;
        line-height: 12px;
        font-size: 12px;
    }

    .heading-1 {
        font-size: 27px;
        line-height: 30px;
        text-align: center;
        height: auto;
    }

    .paragraph {
        font-size: 12px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .hero-section {
        top: 0;
        width: 100%;
        height: auto;
        padding: 30px;
        align-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        gap: 30px;
        width: 1240px;
    }

    header {
        gap: 15px;
        width: 223px;
        justify-content: center;
        align-items: center;
    }

    .btn {
        padding: 12px 24px;
        font-size: 12px;
        line-height: 12px;
        width: 100%;
    }

    .hero-image {
        width: 280px;
        height: 280px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 15px;
        align-items: left;
    }

    .hero-content > .paragraph {
        text-align: center;
    }
}

